body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  width: 320px;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.container h1 {
  text-align: center;
  font-size: 20px;
}

.container label {
  display: block;
}

.container div {
  margin-bottom: 8px;
}

.container input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"],
input[type="tel"] {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffff;
  background: transparent;
  color: #ffff;
  height: 40px;
}

.container button {
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  background-image: linear-gradient(to right, #f26f79, #87724f);
  color: #ffff;
}
.container button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #696969;
}
.container .link {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
}

.container .link:hover {
  color: #d3d3d3;
}

.logout {
  margin: 50px 0;
}
p {
  text-align: center;
}
